#topBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #aaa;
    margin: 0;
    padding: 0;
    clear: both;
    background-color: #E2E8EB;
}

#logo{
    float: left;
    width: 50%;
    text-align: left;
    margin: 0;
    padding: 0;
}

#logo img{
    margin-left: 10px;
    margin-top: 10px;
}

#userChange{
    float: right;
    width: 30%;
    height: 50px;
    text-align: right;
    margin-right: 5px;
    padding: 0;
}

#userChange select{
    margin-top: 8px;
}

#nameEntry{
    width: 50%;
}

#addButton{
    margin-top: 40px;
}

body {
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #FFFFFA;
}

.table {
    max-width: 70%;
}